*{
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
	font-family: 'Baloo 2', cursive;
}

#navbar {
	background: #f69ec3;

}

.nav-item {
	padding-left: .5rem;
	padding-right: .5rem;
	

}

.nav-link {
	text-decoration: none;
	color: #FFEAEC;
}

a.nav-link:hover {
	color: white;
	text-decoration: underline;
}

#main {
	background-image: url('../images/bg.png');
	height: 500px;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 0;
}

#name {
	border: 1px dashed white;
	margin-top: 8rem;
	color: #383838;
	font-family: 'Bebas Neue', cursive;
	font-weight: 200px;
	font-size: 70px;

}

#title {
	font-family: 'Bebas Neue', cursive;
	font-size: 27px;
	color: #383838;
}

#description {
	margin-bottom: 10rem;
	font-family: 'Poiret One', cursive;
	font-size: 30px;
	font-weight: bold;
	color: gray;

}

#introduction {
	margin-top: 2rem;
	display: inline-block;
}

img#portrait {
	margin: 0rem 3rem 1rem 0rem ;
	height: 300px;
	width: 300px;
	float: left;

}



#contact{ 
	margin: 0 auto;
	width: 300px;

}

button#submit {
	margin: 0 auto;
}

.icons {
	margin-top: 3rem;
	margin-bottom: 1rem;
	margin-right: 1rem;
	margin-left: 1rem;
	width: 25px;
	height: 25px;
}

#copyright {
	background: #f69ec3;
}

